body 
{ 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
      "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 25%;
    grid-gap: 4px;
    height: 100vh;
    margin:0;
    min-width: 100vh
     
    }
  header, footer, article, nav, div {
    padding: 20px;
  }
  .pageHeader {
    grid-area: header;
    background: rgba(9, 92, 9, 0.966);
    
    
  }
  #pageFooter {
    grid-area: footer;
  }
  #mainArticle { 
    grid-area: article;  
    background: white;  
    margin: auto 0;  
    
    }
  #mainNav { 
    grid-area: nav; 
    background:#f1f1f1;;
    }
  #siteAds { 
    grid-area: ads; 
    background-color: #f1f1f1;
    width: 340px;
    height: 1000px;
    margin: 0px;
    }

    /*logo*/
.logo{
    max-width:600%;
    height: 35px;
    float: left;
}

 /* Dropdown Button */
 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-top: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
    
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: center;
    display: inline-block;
    /*
    margin-left: 480px;
    */
}

.dropdown my-menu{
    margin: 0;
}

.dropdown2 {
    position: center;
    display: inline-block;
}

.dropdown2 {
    position: center;
    display: inline-block;
    /*
    margin-left: 480px;
    */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


  /* Style the navigation menu */
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 100;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    padding: 8px;
    text-decoration: none;
    color: green;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }

  .card{
    width: 295px;
     margin: 0 auto;
     float: none;

}

.text{
    margin: 0 auto;
}

.text p1{ 
  font-size: 11px;
}

.text p{
  font-weight: bold;
  font-size: 8px;
}


.headcard {
    background: salmon;
    border-radius: 3%;

}

.headcard2 {
    background: rgb(216, 216, 26);
    border-radius: 3%
    
}

.headcard3 {
    background: rgb(31, 241, 12);
    border-radius: 3%
    
}
.headcard2 h4{
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.headcard3 h4{
    font-size: 15px;
    color: white;
    font-weight: bold;
}
.headcard h4{
     font-size: 15px;
     color: white;
     font-weight: bold;
}

.cadbody{
    background: whitesmoke;
}

.flex-container {
    display: flex;

  }

 p3{
     font-size: 13px;
 }
 
 p2{
     color: red;
     font-weight: bold;
     font-size: 13px;
 }

 p4{
     color: green;
 }

 .drp{
     display: flex;
 }

  
/*****smallcards*****/
.smallcard{
  border: rgba(105, 62, 62, 0.637);
}

.green{
  background: greenß;
}

.smallcard p{
  color: #051805;
  font-size: 15px;
}

.smallcard span{
  font-size: 10px;
  color: red;
  font-weight:  bolder;

}

.smallcard label{
  font-size: 13px;
}

 
#modal-btn{
  float: right;
  margin-left: 660px;
}

.btn btn-success
dropdown-toggle button{
  margin-left: 480px;
}

 